.header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background-color: #a58d7a;
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.name {
  align-self: center;
  padding-bottom: 30px;
  color: #ffffff;
}
