.nav-bar {
  display: flex;
  height: 120px;
  background-color: #394d90;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.page-title {
  display: flex;
  font-family: "Bungee", cursive;
  font-weight: 300;
  font-size: 35px;
  margin: 1.5em;
}

.nav-content {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
}

.write-tweet {
  font-family: "Source Sans Pro", sans-serif;
}

.fas {
  align-self: center;
  margin: 15px;
  color: #ff120a;
}
