.error-line {
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: #ff0000;
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
  padding-left: 100px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: none;
  text-align: center;
}

.new-tweet {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
  width: 100%;
}

textarea {
  background-color: #f4f1ec;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 5px;
  width: 100%;
  outline: none;
}

.box-button-char-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-button {
  background-color: #394d90;
  font-family: "Bungee", cursive;
  color: #ffffff;
}

.counter {
  font-family: "Bungee", cursive;
  font-weight: bold;
  align-self: flex-end;
}

.red {
  color: #ff0000;
}
